.idea
**/.ipynb_checkpoints
computer-vision-with-opencv-and-deep-learning/.ipynb_checkpoints
computer-vision-with-opencv-and-deep-learning/course
computer-vision-with-opencv-and-deep-learning/data
deep-learning-specialization/assignments
references

**/dataset
**/*.h5
**/*.dat

**/__pycache__
