.idea
.ipynb_checkpoints
computer-vision-with-opencv-and-deep-learning/.ipynb_checkpoints
computer-vision-with-opencv-and-deep-learning/course
computer-vision-with-opencv-and-deep-learning/data
hands-on-ml/course
deep-learning-specialization/assignments
references

**/dataset
**/*.h5
